<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAsDLmAx3hh_tkZtALSv_kI5jDnYYI86ew</string>
	<key>GCM_SENDER_ID</key>
	<string>142623629027</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartWork</string>
	<key>PROJECT_ID</key>
	<string>smart-work-eea26</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-work-eea26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142623629027:ios:71fd0f4bd447d0e971efd6</string>
</dict>
</plist>